h1{
  color:green;
  text-decoration: underline;
  text-align: center;
}
#homepage{
  text-align:left;
  color: maroon;
}
.container{
  widith:500px;
  font-size: 17px;
}
body{
  background-color: white;
}
.content{
  background: white;
  width: 50%;
  padding: 40px;
  margin:100px auto;
}
p{
font-size: 20px;
}
h3{
  color:blue;
  text-decoration: underline;
}
